@font-face {
  font-family: 'TR909';
  src: url('fonts/TR-909.woff') format('woff'),
       url('fonts/TR-909.ttf') format('ttf');
  font-weight: 400;
  font-style: normal;
}

html {
  font-size: 10px;
}
body,html {
  margin: 0;
  padding: 0;
  font-family: 'TR909', sans-serif;
}

body {
  color: #555;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
  background-color: #eee;
}

header {
  margin: 10px;
  font-size: 4em;
  font-weight: bold;
}

.header-left {
  float: left;
}

.header-right {
  text-align: right;
}


/*------- Keyboard keys ------- */

#main {
  padding: 2px;
  background: #4d4d4d;
  border-radius: 4px;
  overflow: hidden;
}

.key {
  width: 40px;
  height: 45px;
  margin: 2px;
  border-width: 3px 7px 10px;
  border-style: solid;
  border-radius: 4px;
  float: left;
  background: #d3cfcc;
  border-color: #ece8e4 #dedad6 #c9c4c4;
  transition: all .07s ease;
}

.pressed {
  transform: scale(0.95, 0.95);
}

.key .keycap {
  width: 33px;
  height: 40px;
  padding: 5px 0 0 7px;
  font-size: 18px;
  line-height: 1;
  background: #f5f3f1;
  background: linear-gradient(to right, #e5e2e1, #f5f3f1, #e5e2e1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  position: relative;
}

.side {
  font-size: 10px;
  line-height: 1;
  display: block;
  position: absolute;
  left: 4px;
  bottom: -10px;
  transform: rotateX(50deg);
}
